<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="master::headerfiles(title='Login error')">


<body>
<header th:replace="master::header(searchBar='no')"></header>

<main>

    <div class="container">
        <section th:replace="master::pageHeader(text='Login non riuscito')"></section>

        <div class="row justify-content-center m-5 text-center">
            <h4 class="lead m-4">I credenziali inseriti non sono validi</h4>
        </div>

        <div class="row justify-content-center m-5">
            <div class="btn-group-vertical text-center">
                <a class="btn btn-outline-info m-1" th:href="@{/}">Home</a>
                <a class="btn btn-outline-info m-1" th:href="@{/login}">Accedi di nuovo</a>
                <a class="btn btn-outline-info m-1" th:href="@{/register}">Registrati</a>
            </div>
        </div>

    </div>

</main>

<footer th:replace="master::footer"></footer>
</body>
</html>